            <div class="grid">
                <div class="row">
                    <div class="offset1 span7">
                        <div class="row">
                            <h2 class="offset1 span6">Effects by ppm</h2>
                        </div>
                        <div class="row">
                            <div id="home_left_chart" class="span7" style="width:500px; height:400px;"></div>
                        </div>
                    </div>
                    <div class="span5">
                        <h2>Choose a dataset by ppm</h2>
                        <ul class="listview">
                            <li class="bg-color-pinkDark fg-color-white">
                                <div class="icon">
                                    <img src="images/icons/527px-Racemic_lactic_acid_sample.jpg" />
                                </div>
                                <div class="data">
                                        <h4 class="fg-color-white">300ppm</h4>
                                        <p>500 records</p>
                                </div>
                            </li>
                            <li class="bg-color-pinkDark fg-color-white">
                                <div class="icon">
                                    <img src="images/icons/527px-Racemic_lactic_acid_sample.jpg" />
                                </div>
                                <div class="data">
                                        <h4 class="fg-color-white">600ppm</h4>
                                        <p>500 records</p>
                                </div>
                            </li>
                            <li class="bg-color-pinkDark fg-color-white">
                                <div class="icon">
                                    <img src="images/icons/527px-Racemic_lactic_acid_sample.jpg" />
                                </div>
                                <div class="data">
                                        <h4 class="fg-color-white">900ppm</h4>
                                        <p>500 records</p>
                                </div>
                            </li>
                            <li class="bg-color-pinkDark fg-color-white">
                                <div class="icon">
                                    <img src="images/icons/527px-Racemic_lactic_acid_sample.jpg" />
                                </div>
                                <div class="data">
                                        <h4 class="fg-color-white">1200ppm</h4>
                                        <p>500 records</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

