<div class="page-region-content tiles">
	<div class="tile-group tile-drag">

		<h2>Bacterial Strain</h2>

		<a href="#" class="tile image" data-organism="Ac">
            <div class="tile-content">
                <img src="images/icons/Aeromonas_hydrophila.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Aeromonas caviae</span>
            </div>
        </a>

		<a href="#" class="tile image" data-organism="Ah">
            <div class="tile-content">
                <img src="images/icons/Aeromonas_hydrophila.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Aeromonas hydrophila</span>
            </div>
        </a>

		<a href="#" class="tile image" data-organism="As">
            <div class="tile-content">
                <img src="images/icons/Aeromonas_hydrophila.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Aeromonas sobria</span>
            </div>
        </a>

		<a href="#" class="tile image" data-organism="Bs">
            <div class="tile-content">
                <img src="images/icons/Bacillus_subtilis_Gram.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">bacillus spoilage bacteria</span>
            </div>
        </a>

		<a href="#" class="tile image" data-organism="Bc">
            <div class="tile-content">
                <img src="images/icons/Bacillus_subtilis_Gram.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Bacillus cereus</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/Bacillus_subtilis_Gram.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Bacillus licheniformis</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/Bacillus_subtilis_Gram.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Bacillus subtilis</span>
            </div>
        </a>

		<a href="#" class="tile">
            <div class="tile-content">
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Brochothrix thermosphacta</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/254px-Clostridium_botulinum.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Clostridium botulinum (non-prot.)</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/254px-Clostridium_botulinum.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Clostridium botulinum (prot.)</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/200px-Campylobacter.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Campylobacter</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/240px-Clostridium_perfringens.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Clostridium perfringens</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/EscherichiaColi_NIAID.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">Escherichia coli</span>
            </div>
        </a>

		<a href="#" class="tile image">
            <div class="tile-content">
                <img src="images/icons/240px-Citrobacter_freundii.jpg" />
            </div>
            <div class="brand bg-color-blue">
                <span class="name">enterobacteriaceae</span>
            </div>
        </a>

    </div>

	<div class="tile-group tile-drag">

    </div>

</div>
