<script id="bacteria-list-template" type="text/x-jquery-tmpl">
    {%if picture%}
    <div href="#" class="tile image" data-organism="${id}">
        <div class="tile-content">
            <img src="images/icons/${picture}" />
        </div>
        <div class="brand bg-color-blue">
            <span class="name">${name}</span>'
        </div>
    </div>
    {%else%}
    <div href="#" class="tile" data-organism="${id}">
        <div class="tile-content">
        </div>
        <div class="brand bg-color-blue">
            <span class="name">${name}</span>'
        </div>
    </div>
    {%/if%}
</script>
<div class="page-region-content tiles">
	<div id="bacteria-group" class="tile-group">

		<h2>Bacterial Strain</h2>

    </div>

</div>
