
            <div class="grid">
                <div class="row">
                    <div class="span7">
                        <div id="home_left_chart" style="width:500px; height:509px;"></div>
                    </div>
                    <div class="span5">
                        <div class="row">
                            <div class="span1">Axis</div>
                            <div class="span4">
                                <div class="button-set" data-role="button-set">
                                    <button id="cm-button-aw" class="active">temp - aw</button>
                                    <button id="cm-button-ph" >temp - pH</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="slider-row-ph">
                            <div class="span1">pH</div>
                            <div class="span4">
                                <div class="button-set" data-role="button-set">
	                                <button id="cm-button-ph3" class="phbtn" data-param="3.5" data-min="3.0" data-max="4.0">3.5&plusmn;0.5</button>
	                                <button id="cm-button-ph4" class="phbtn" data-param="4.5" data-min="4.0" data-max="5.0">4.5&plusmn;0.5</button>
	                                <button id="cm-button-ph5" class="phbtn" data-param="5.5" data-min="5.0" data-max="6.0">5.5&plusmn;0.5</button>
	                                <button id="cm-button-ph6" class="phbtn active" data-param="6.5" data-min="6.0" data-max="7.0">6.5&plusmn;0.5</button>
	                                <button id="cm-button-ph7" class="phbtn" data-param="7.5" data-min="7.0" data-max="8.0">7.5&plusmn;0.5</button>
	                                <button id="cm-button-ph8" class="phbtn" data-param="8.5" data-min="8.0" data-max="9.0">8.5&plusmn;0.5</button>
	                            </div>
                            </div>
                        </div>
                        <div class="row" id="slider-row-aw">
                            <div class="span1">aw</div>
                            <div class="span4">
                                <div class="button-set" data-role="button-set">
	                                <button id="cm-button-aw7" class="awbtn" data-param="0.70" data-min="0.0" data-max="0.70">&lt;0.70</button>
	                                <button id="cm-button-aw8" class="awbtn" data-param="0.75" data-min="0.70" data-max="0.80">0.75&plusmn;0.05</button>
	                                <button id="cm-button-aw8" class="awbtn" data-param="0.85" data-min="0.80" data-max="0.90">0.85&plusmn;0.05</button>
	                                <button id="cm-button-aw9" class="awbtn" data-param="0.95" data-min="0.90" data-max="0.95">0.95&plusmn;0.05</button>
	                                <button id="cm-button-aw95" class="awbtn" data-param="0.95" data-min="0.950" data-max="0.960">0.955&plusmn;0.005</button>
	                                <button id="cm-button-aw96" class="awbtn" data-param="0.96" data-min="0.960" data-max="0.970">0.965&plusmn;0.005</button>
	                                <button id="cm-button-aw97" class="awbtn" data-param="0.97" data-min="0.970" data-max="0.980">0.975&plusmn;0.005</button>
	                                <button id="cm-button-aw98" class="awbtn" data-param="0.98" data-min="0.980" data-max="0.990">0.985&plusmn;0.005</button>
	                                <button id="cm-button-aw99" class="awbtn active" data-param="0.99" data-min="0.990" data-max="1.000">0.995&plusmn;0.005</button>
	                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span1">Plot</div>
                            <div class="span4">
                                <div class="button-set" data-role="button-set">
                                    <button id="cm-button-growth">Growth</button>
                                    <button id="cm-button-nogrowth" >No growth</button>
                                    <button id="cm-button-all" class="active">Both</button>
                                </div>
                            </div>
                        </div>
                        <div class="row span5" style="height:25px;"></div>
                        <div class="row">
                            <div class="span5">
                                * To switch the axis of the chart, click or touch "temp-aw" and "temp-pH" buttons <br/>
                                * Click or touch a data point to show related data list
                            </div>
                        </div>
                        <div class="row span5" style="height:25px;"></div>
                        <div class="row" id="growthcurve-area" style="display:none;">
                        	<div class="span4" id="growthcurve" style="height:150px;"/>
                        	<div class="span1">
								Temp.:<span id="growthcurve-temp"/><br/>
								pH:<span id="growthcurve-ph"/><br/>
								aw:<span id="growthcurve-aw"/><br/>
								μmax(1/h):<span id="growthcurve-specrate"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
