
            <div class="grid">
                <div class="row">
                    <div class="span7">
                        <div id="home_left_chart" style="width:500px; height:509px;"></div>
                    </div>
                    <div class="span5">
                        <div class="row">
                            <div class="span1">Switch</div>
                            <div class="span4">
                                <div class="button-set" data-role="button-set">
                                    <button id="cm-button-aw" class="active">temp - aw</button>
                                    <button id="cm-button-ph" >temp - pH</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="slider-row-ph">
                            <div class="span1">pH</div>
                            <div class="span4">
                                <div id="slider-ph" class="slider" data-role="slider" data-param-init-value="50"></div>
                            </div>
                        </div>
                        <div class="row" id="slider-row-aw">
                            <div class="span1">aw</div>
                            <div class="span4">
                                <div id="slider-aw" class="slider" data-role="slider" data-param-init-value="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
