
    <div class="page-region-content tiles">
		<div class="tile-group">
			<a class="tile double" href="#" onclick="moveTo('detail')">
                <div class="tile-content">
				    <div class="data-chart" id="data-chart1" style="width:280px; height:100px;"></div>
                </div>
				<div class="brand bg-color-orange">
            		<div class="name">75ppm 20℃</div>
		        </div>
			</a>
			<div class="tile double">
                		<div class="tile-content">
				    <div class="data-chart" id="data-chart2" style="width:280px; height:100px;"></div>
                		</div>
				<div class="brand bg-color-orange">
            				<div class="name">75ppm 20℃</div>
		        	</div>
			</div>
			<div class="tile double">
        		        <div class="tile-content">
			    		<div class="data-chart" id="data-chart3" style="width:280px; height:100px;"></div>
        		        </div>
				<div class="brand bg-color-orange">
		            		<div class="name">75ppm 20℃</div>
        			</div>
			</div>
		</div>
	</div>
