<script id="detail-table-template" type="text/x-jquery-tmpl">
		<table>
		<tr>
			<th>Organism:</th>
			<td>${organism}</td>
		</tr>
		<tr>
			<th>Temperature:</th>
			<td>${temp}</td>
		</tr>
		<tr>
			<th>pH:</th>
			<td>${pH}</td>
		</tr>
		<tr>
			<th>Water activity:</th>
			<td>${aw}</td>
		</tr>
		<tr>
			<th>μmax(1/h):</th>
			<td>${spec_rate}</td>
		</tr>
		<tr>
			<th>Conditions:</th>
			<td>${condition}</td>
		</tr>
		<tr>
			<th>Source:</th>
			<td>${source}</td>
		</tr>
		<tr>
			<th>Furthre specifications:</th>
			<td>${specification}</td>
		</tr>
		<tr>
			<th>Details:</th>
			<td>${details}</td>
		</tr>
		</table>
</script>

    <div class="page-region-content">
		<div id="detail-table-holder" style="background-color: #eee;">
	    </div>	
	</div>
	<div id="detail-chart" class="data-chart" style="width:370px; height:186px;"></div>
