    <div class="page-region-content">
		<div style="background-color: #eee;">
		<table>
		<tr>
			<th>Organism:</th>
			<td>Escherichia coli</td>
		</tr>
		<tr>
			<th>Temperature:</th>
			<td>37.00</td>
		</tr>
		<tr>
			<th>pH:</th>
			<td>6.50</td>
		</tr>
		<tr>
			<th>Water activity:</th>
			<td>0.970</td>
		</tr>
		<tr>
			<th>μmax(1/h):</th>
			<td>0.116543</td>
		</tr>
		<tr>
			<th>Conditions:</th>
			<td>shaken, NaCl(%):5</td>
		</tr>
		<tr>
			<th>Source:</th>
			<td>Buchanan (et al.), 1992</td>
		</tr>
		<tr>
			<th>Furthre specifications:</th>
			<td>Strain(s): 933 A9218-C1 45753-35, Serotypes(s): O157: H7</td>
		</tr>
		<tr>
			<th>Details:</th>
			<td>Growth of E. coli in aerobic or ...</td>
		</tr>
		</table>
	    </div>	
	</div>
	<div id="detail-chart" class="data-chart" style="position:absolute;left:600px;top:130px;width:370px; height:186px;"></div>
