            <div class="grid">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <h2>Spec rates by temperature</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div id="home_left_chart" class="span8" style="width:900px; height:209px;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <h2>Drawing conditions</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset1 span1">pH</div>
                            <div class="span6">
                                <div class="slider" data-role="slider" data-param-init-value="35"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset1 span1">aw</div>
                            <div class="span6">
                                <div class="slider" data-role="slider" data-param-init-value="35"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
