
            <div class="page-region-content tiles">
		<div class="tile-group">
		<h2>Food</h2>

		<a class="tile double image" href="#" onclick="moveTo('cmmodel')">
                    <div class="tile-content">
                        <img src="images/icons/culturemedium.jpg" />
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Culture Medium</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                        <img src="images/icons/beef.jpg" />
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Beef</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                        <img src="images/icons/pork.jpg" />
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Pork</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

        <!--
		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>

		<a class="tile" onclick="moveTo('foodmodel')">
                    <div class="tile-content">
                    </div>
                    <div class="brand bg-color-orange">
                        <span class="name">Chicken</span>
                    </div>
                </a>
                -->

                </div>

		<div class="tile-group">

		<h2>Additives</h2>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/527px-Racemic_lactic_acid_sample.jpg" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Lactic Acid</span>
                    </div>
                </a>
		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/800px-Sorbic-acid-3D-balls-B.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Sorbic Acid</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/320px-Citric-acid-3D-balls.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Citric Acid</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/Acetic_acid.jpg" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Acetic Acid</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/305px-Nitrite-3D-vdW.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Nitrite Acid</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/320px-Propionic-acid-3D-balls.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Propionic Acid</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/Sample_of_ascorbic_acid.jpg" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Ascorbic Acid</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/320px-D-glucose-chain-3D-balls.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Glucose Acid</span>
                    </div>
                </a>

		<a class="tile image" onclick="moveTo('additivemodel')">
                    <div class="tile-content">
                        <img src="images/icons/Halit-Kristalle.jpg" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">NaCl Acid</span>
                    </div>
                </a>


            </div>
        </div>
