    <div class="page-region-content tiles">
		<div class="tile-group">
		<h2>Food</h2>
		<a class="tile double image" href="#" data-food='Culture_medium'>
            <div class="tile-content">
                <img src="images/icons/culturemedium.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Culture Medium</span>
            </div>
        </a>

		<a class="tile image" data-food='Beef' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Beef.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Beef</span>
            </div>
        </a>

		<a class="tile image" data-food='Pork' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/pork.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Pork</span>
            </div>
        </a>

		<a class="tile image" data-food='Poultry' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Pork_chops.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Poultry</span>
            </div>
        </a>

		<a class="tile image" data-food='Sausage' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Sausage.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Sausage</span>
            </div>
        </a>

		<a class="tile image" data-food='Meat_other' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Meat_others.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Other or unknown type of meat</span>
            </div>
        </a>

		<a class="tile image" data-food='Seafood' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Seafood.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Seafood</span>
            </div>
        </a>

		<a class="tile image" data-food='Milk' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Milk.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Milk</span>
            </div>
        </a>

		<a class="tile image" data-food='Cheese' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Cheese.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Cheese</span>
            </div>
        </a>

		<a class="tile image" data-food='Dairy_other' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Dairy_others.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Other or unknown type of dairy</span>
            </div>
        </a>

		<a class="tile image" data-food='Egg' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Egg.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Egg or egg product</span>
            </div>
        </a>

		<a class="tile image" data-food='Dessert' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Dessert.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Dessert food</span>
            </div>
        </a>

		<a class="tile" data-food='Sauce/Dressing' onclick="moveTo('foodmodel')">
            <div class="tile-content">
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Sauce/Dressing</span>
            </div>
        </a>

		<a class="tile image" data-food='Produce' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Produce.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Vegetable or fruit and their products</span>
            </div>
        </a>

		<a class="tile image" data-food='Bread' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Bread.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Bread</span>
            </div>
        </a>

		<a class="tile image" data-food='Infant_food' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Baby_food.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Infant food</span>
            </div>
        </a>

		<a class="tile image" data-food='Beverage' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Juice.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Juice, beverage</span>
            </div>
        </a>

		<a class="tile image" data-food='Water' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Water.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Water</span>
            </div>
        </a>

		<a class="tile image" data-food='Other/mix' onclick="moveTo('foodmodel')">
            <div class="tile-content">
                <img src="images/icons/Others.jpg" />
            </div>
            <div class="brand bg-color-orange">
                <span class="name">Other, mixed, uncategorised or unknown type of food</span>
            </div>
        </a>


        </div>

		<div id="additive-group" class="tile-group">

		<h2>Additives</h2>

		<a class="tile image" data-additive='lactic_acid'>
                    <div class="tile-content">
                        <img src="images/icons/301px-Lactic-acid-3D-balls.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Lactic Acid</span>
                    </div>
                </a>
		<a class="tile image" data-additive='sorbic_acid'>
                    <div class="tile-content">
                        <img src="images/icons/800px-Sorbic-acid-3D-balls-B.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Sorbic Acid</span>
                    </div>
                </a>

		<a class="tile image" data-additive='citric_acid'>
                    <div class="tile-content">
                        <img src="images/icons/320px-Citric-acid-3D-balls.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Citric Acid</span>
                    </div>
                </a>

		<a class="tile image" data-additive='acetic_acid'>
                    <div class="tile-content">
                        <img src="images/icons/311px-Acetic-acid-CRC-GED-3D-balls-B.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Acetic Acid</span>
                    </div>
                </a>

		<a class="tile image" data-additive='nitrite'>
                    <div class="tile-content">
                        <img src="images/icons/305px-Nitrite-3D-vdW.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Nitrite Acid</span>
                    </div>
                </a>

		<a class="tile image" data-additive='propionic'>
                    <div class="tile-content">
                        <img src="images/icons/320px-Propionic-acid-3D-balls.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Propionic Acid</span>
                    </div>
                </a>

		<a class="tile image" data-additive='ascorbic_acid'>
                    <div class="tile-content">
                        <img src="images/icons/Sample_of_ascorbic_acid.jpg" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Ascorbic Acid</span>
                    </div>
                </a>

		<a class="tile image" data-additive='glucose'>
                    <div class="tile-content">
                        <img src="images/icons/320px-D-glucose-chain-3D-balls.png" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">Glucose Acid</span>
                    </div>
                </a>

		<a class="tile image" data-additive='nacl'>
                    <div class="tile-content">
                        <img src="images/icons/Halit-Kristalle.jpg" />
                    </div>
                    <div class="brand bg-color-green">
                        <span class="name">NaCl Acid</span>
                    </div>
                </a>


            </div>
        </div>
