
    <div class="page-region-content">
            <div class="grid">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                            <div class="span12">
                                <h2>Temperature dependency of µmax</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div id="home_left_chart" class="span8" style="width:900px; height:159px;"></div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                * Click or touch a data point to show related data list
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
